.header{
    color: #EF9C66;
    text-decoration: underline;
}

mat-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    margin: auto;
}

mat-card {
    transition: transform .2s;
    border-radius: 15pt;
}

.flight-card{
    padding-top: 10px;
    margin-bottom: 40px;
    width: 800px;
    height: 300px;
}

.container2{
    display: flex;
    justify-content: center;
}