<h3 class="header text-center my-3">Available Flights</h3>
<div class="container container2">
  <div *ngIf="flights && flights.length > 0">
    <div class="flight-card" *ngFor="let flight of flights">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title class="">Departure: {{ flight.departure }} --  Landing: {{ flight.landing }}</mat-card-title>
          <mat-card-subtitle> <p>Date: {{ flight.flightDate }}</p>
            <p>Duration: {{ flight.flightDuration }} hours</p>
            <p>Departure Time: {{ flight.departureTime }}</p>
            <p>Landing Time: {{ flight.landingTime }}</p> </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button>Buy Ticket</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!flights || flights.length === 0">
    <p>No flights available.</p>
  </div>
</div>

<div class="bot-container">
  <p class="copyright">© Up Up And Away Airlines</p>
</div>
