<h3 class="header text-center my-3">Available Flights</h3>

<div class="container">
  <mat-form-field>
    <mat-label>Your Departure City</mat-label>
    <mat-select (selectionChange)="onDepartureSelected($event.value)" disableRipple>
      <mat-option value="">All</mat-option>
      <mat-option value="New York">New York</mat-option>
      <mat-option value="Los Angeles">Los Angeles</mat-option>
      <mat-option value="Chicago">Chicago</mat-option>
      <mat-option value="Miami">Miami</mat-option>
      <mat-option value="Houston">Houston</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="container container2">
  <div *ngIf="filteredFlights && filteredFlights.length > 0">
    <div class="flight-card" *ngFor="let flight of filteredFlights">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title class="">Departure: {{ flight.departure }} --  Landing: {{ flight.landing }}</mat-card-title>
          <mat-card-subtitle>
            <p>Date: {{ flight.flightDate }}</p>
            <p>Duration: {{ flight.flightDuration }}</p>
            <p>Departure Time: {{ flight.departureTime }}</p>
            <p>Landing Time: {{ flight.landingTime }}</p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button (click)="buyTicket(flight)">Buy Ticket</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!filteredFlights || filteredFlights.length === 0">
    <p>No flights available.</p>
  </div>
</div>

