<div class="body" >
  <div class="container" *ngIf="bookedTickets.length > 0; else noTickets">
    <h2 class="header">Booked Tickets</h2>
    <p-table class="p-table-lg" [value]="bookedTickets" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr class="headerRow">
          <th>Ticket ID</th>
          <th>Flight ID</th>
          <th>Customer Name</th>
          <th>Customer Email</th>
          <th>Departure</th>
          <th>Landing</th>
          <th>Departure Date</th>
          <th>Departure Time</th>
        </tr>
      </ng-template>
        <ng-template pTemplate="body" let-ticket>
          <tr class="rowStyle">
            <td class="inRow" >{{ticket.id}}</td>
            <td class="inRow" >{{ticket.flightId}}</td>
            <td class="inRow" >{{ticket.customerName}}</td>
            <td class="inRow" >{{ticket.customerEmail}}</td>
            <td class="inRow" >{{ticket.departure}}</td>
            <td class="inRow" >{{ticket.landing}}</td>
            <td class="inRow" >{{ticket.flightDate | date:'shortDate'}}</td>
            <td class="inRow" >{{ticket.departureTime}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #noTickets>
      <p>No booked tickets found.</p>
    </ng-template>  
</div>