<div *ngIf="flight">
    <h2>Ticket for flight {{flight.id}} <br> Boarding: {{flight.departure}}   Landing: {{flight.landing}} </h2>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label>Flight ID:</label>
            <input type="text" [value]="flight.id" disabled/>
        </div>
        <div>
            <label>Departure:</label>
            <input type="text" [value]="flight.departure" disabled/>
        </div>
        <div>
            <label>Landing:</label>
            <input type="text" [value]="flight.landing" disabled/>
        </div>
        <div>
            <label>Flight Date:</label>
            <input type="text" [value]="flight.flightDate" disabled/>
        </div>
        <div>
            <label>Boarding Time:</label>
            <input type="text" [value]="flight.departureTime" disabled/>
        </div>
        <div>
            <label>Name:</label>
            <input type="text" [(ngModel)]="customer.name" name="name" required/>
        </div>
        <div>
            <label>ID:</label>
            <input type="text" [(ngModel)]="customer.id" name="phoneNumber" required/>
        </div>
        <div>
            <label>Phone Number:</label>
            <input type="text" [(ngModel)]="customer.phoneNumber" name="phoneNumber" required/>
        </div>
        <div>
            <label>Email:</label>
            <input type="text" [(ngModel)]="customer.email" name="email" required/>
        </div>
        <div>
            <button type="submit">Book Ticket</button>
        </div>
    </form>
</div>