.btn{
    position: left;
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.tic-but{
    flex: 1 1 auto;
}

/* .btn-right{
    position: right;
    position: relative;
} */

.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

router-outlet{
    flex: 1;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.tool-bar{
    background-color: #80C4E9;
    color: #FFF6E9;

}

.centered-container{
    position: absolute;
    left: 43%;
    font-size: x-large;
    font-weight: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.app-footer{
    background-color: #80C4E9;
    color: white;
    text-align: center;
    padding-top: 10pt ;
    padding-bottom: 3pt;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 10px;
}