<div class="top">
  <mat-toolbar class="tool-bar">
    <mat-toolbar-row>
        <button mat-icon-button [routerLink]="['']" class ="btn" aria-label="home icon" >
          <mat-icon aria-hidden="true" fontIcon="home"></mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/flights']" class ="btn" aria-label="flights icon" >
          <mat-icon aria-hidden="false" fontIcon="flight"></mat-icon>
        </button>
        <div class="centered-container">
          <h1>Up Up And Away</h1>
        </div>
          <span class="tic-but" ></span>
          <button mat-icon-button [routerLink]="['/booked-tickets']" class ="btn-right" aria-label="ticket icon" >
            <mat-icon aria-hidden="false" fontIcon="airplane_ticket"></mat-icon>
          </button>
    </mat-toolbar-row>
  </mat-toolbar>

</div>


<router-outlet></router-outlet>

<footer class="app-footer">
  <p class="copyright">© Up Up And Away Airlines</p>
</footer>