<div class="pic-container">
    <img  src="assets/plane5.png" alt="plane image" class="responsive-image">
</div>
<div class="container">
    <form [formGroup]="flightSearchForm" (ngSubmit)="onSubmit()">
        <div class="form-container">
            <label for="destination" class="label form-label">Destination City:</label>
            <br>
            <input type="text" name="destination" id="destination" placeholder="Where To?" formControlName="city">
        </div>
        <div class="form-container">
            <label for="date" class="label form-label">Take Off Date:  </label>
            <br>
            <input type="date" id="date" name="date" formControlName="date">
        </div>
        <div class="form-container">
            <button class="button" type="submit">
                Search
            </button>
        </div>

    </form>
    </div>

    <!-- <div *ngIf="filteredFlights.length > 0">
    <h2>Available Flights:</h2>
    <ul>
      <li *ngFor="let flight of filteredFlights">{{ flight.flight }}</li>
    </ul>
  </div>
  <div *ngIf="filteredFlights.length === 0">
    <p>No flights available for the selected city and date.</p>
  </div>
   -->
  

    <div class="bot-container">
        <p class="copyright">© Up Up And Away Airlines</p>
      </div>
