@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.pic-container {
    width: 100%;
  }
  
  .responsive-image {
    width: 100%;
    height: auto;
    display: block;
  }

  .container{
    display: flex;
    justify-content: center;
  }

  .button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border-style: hidden;
    background-color: #ED9455;
    color: #E1F7F5;
    border-radius: 10pt;
    width: 100px;
    height: 50px;
  }

  .button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
  
  .form-container{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .label{
    margin-top: 3px;
    margin-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }