<div class="pic-container">
    <img  src="assets/plane5.png" alt="plane image" class="responsive-image">
</div>
<div class="container">
    <form [formGroup]="searchForm">
        <div class="form-container">
            <label for="landing" class="label form-label">Destination City:</label>
            <br>
            <input type="text" name="landing" id="landing" placeholder="Where To?" formControlName="landing">
        </div>
        <div class="form-container">
            <label for="flightDate" class="label form-label">Take Off Date:  </label>
            <br>
            <input type="date" id="flightDate" name="flightDate" formControlName="flightDate">
        </div>
        <div class="form-container">
            <button class="button" type="button" (click)="onSearch()" [disabled]="!searchForm.valid">
                Search
            </button>
        </div>
    </form>
    </div>

    
    <div *ngIf="filteredFlights.length > 0">
        <h2 class="" >Available Flights</h2>
        <ul>
          <li *ngFor="let flight of filteredFlights">
            {{ flight.departure }} to {{ flight.landing }} on {{ flight.flightDate | date }} at {{ flight.departureTime }}
          </li>
        </ul>
      </div>
      
  
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>