<div class="pic-container">
    <img  src="assets/plane5.png" alt="plane image" class="responsive-image">
</div>
<div class="container">
    <form [formGroup]="searchForm">
        <div class="form-container">
            <label for="landing" class="label form-label">Destination City:</label>
            <br>
            <input type="text" name="landing" id="landing" placeholder="Where To?" formControlName="landing">
        </div>
        <div class="form-container">
            <label for="flightDate" class="label form-label">Take Off Date:  </label>
            <br>
            <input type="date" id="flightDate" name="flightDate" formControlName="flightDate">
        </div>
        <div class="form-container">
            <button class="button" type="button" (click)="onSearch()" [disabled]="!searchForm.valid">
                Search
            </button>
        </div>
    </form>
    </div>

    <div class="container ">
        <div *ngIf="filteredFlights && filteredFlights.length > 0">
          <div class="flight-card" *ngFor="let flight of filteredFlights">
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title class="">Departure: {{ flight.departure }} --  Landing: {{ flight.landing }}</mat-card-title>
                <mat-card-subtitle>
                  <p>Date: {{ flight.flightDate }}</p>
                  <p>Duration: {{ flight.flightDuration }}</p>
                  <p>Departure Time: {{ flight.departureTime }}</p>
                  <p>Landing Time: {{ flight.landingTime }}</p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions align="end">
                <button mat-button>Buy Ticket</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div *ngIf="!filteredFlights || filteredFlights.length === 0">
          <p>No flights available.</p>
        </div>
      </div>
      
  
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>